<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Knowledge_Of_Univarsity</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Knowledge_Of_Univarsity.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="head">
        <nav class="navbar navbar-expand-lg navbar-light">

            <div class="logo">
                <img src="~/Img/logo.jfif" width="50%" height="50%" class="logo">
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-action="Home" asp-controller="Universities" class="btn btn-outline-primary">الصفحه الرئيسية</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Universities" class="btn btn-outline-primary">عن الجامعة</a>
                    </li>
                    <li class="nav-item dropdown">
                        <button type="button" class="btn btn-outline-primary">خريطة الجامعة</button>
                        
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Colleges" class="btn btn-outline-primary">الكليات</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="SuccessStories" class="btn btn-outline-primary">قصة نجاح</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Home" class="btn btn-outline-primary">Admin page</a>
                    </li>
                </ul>
              
            </div>
        </nav>
  


    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
